*{
    box-sizing: border-box;
    font-family: 'Heebo',sans-serif;
}
body{
    background-color: white;
    margin: 0;
}
nav{
    max-width: 100%;
    display: flex;
    justify-content: right;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 60px;
}
.nav a{
    background-color: white;
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    text-align: right;
    display: inline-block;
    margin-top: 27px;
    margin-left: 20px;
    
}
.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 140px;
    padding-bottom: 100px;
    }
.img{
    background-color: black;
    width: 243px;
    height: 243px;
    border-radius: 50%;
}
.hi{
    width: 506px;
    height: 296px;
    font-family: 'Heebo';
    margin: 0;
    padding: 0;
}
.hi h1{
    line-height: 60px;
    font-weight: 700;
    font-size: 44px;
    margin: 0;
}
.hi p{
    width: 497px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    height: 66px;
    margin-top: 40px;
}
.hi a{
    display: inline-block;
    background-color: #FF6464;
    width: 206px;
    height: 47px;
    padding-top: 10px;
    padding-left: 20px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    margin: 38px 0;
}
.grid-container{
    width: 100%;
    height: 389px;
    display: grid;
    grid-template-columns: 468px 468px;
    justify-content: space-between;
    width: 80%;
    margin: auto auto 0 auto;
    padding: 0 0 36px 0;
}
/*
.grid-container *{
    border: 0.5px solid black;
}*/
.section1{
    width: 100%;
    background-color: #EDF7FA;
}
.recent{
    font-size: 22px;
    font-weight: 400;
    line-height: 60px;
    height: 60px;
    color: #21243D;
    margin: 0 0 15px 0;
}
.view-all{
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    height: 20px;
    margin-top: 20px;
}
.view-all a{
    text-decoration: none;
}
.g1,.g2{
    margin:  0;
    background-color: white;
    height: 295px;
}
.g1 h1{
    width: 374px;
    height: 85px;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    margin: 24px auto 17px auto;
}
.g1 p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 368px;
    height: 117px;
    margin: auto;

}
.g1 .date{
    height: 30px;
    border-right: 1px solid black;
    width: 153px;
    margin-left: 43px;
    margin-bottom: 11px;
    display: inline-block;
    
}
.g2 h1{
    width: 374px;
    height: 85px;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    margin: 24px auto 17px auto;
}
.g2 p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 368px;
    height: 117px;
    margin: auto;
}
.g2 .date{
    height: 30px;
    border-right: 1px solid black;
    width: 153px;
    margin-left: 43px;
    margin-bottom: 11px;
    display: inline-block;
    
}
.g1 .t{
    border: none!important;
}
.g2 .t{
    border: none!important;
}
.section2 p{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    width: 152px;
    height: 60px;
    margin-left: 148px;
}
.featured-con{
    display: grid;
    grid-template-columns: 246px 305px;;
    width: 80%;
    margin: auto;
}
.imgcon{
    width: 246px;
    height: 180px;
}
.tct{
    width: 330px;
    height: 44px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    margin: -10px 0 10px 20px;
    color: #21243D;
}
.textcon span{
    display: inline;
}
.sd{
    background-color: #142850;
    border-radius: 16px;
    padding: 3px;
    margin-left: 15px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 60px;
    width: 42px;
    height: 60px;
    color: white;
    margin-right: 20px;
}
.textcon p{
    width: 594px;
    height: 93px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-left: 15px;
    margin-top: 0px;
    color: #21243D;
}
#sd1{
    width: max-content;
}
hr{
    width: 80%;
    margin: 10px auto 40px auto;
    border: 1px solid #E0E0E0;
}
.ttt{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
}
